<section class="cards">
    <h1 class="cards__title">Cartes</h1>

    <ng-container *ngIf="cards$ | async as cards; else loading">
      <p class="cards__p" *ngIf="!cards.length">Aucune carte pour le moment.</p>
  
      <ul class="cards__grid" *ngIf="cards.length">
        <li class="card" *ngFor="let c of cards" class="card">
          <strong>{{ c.title }}</strong>
          <header class="card__header">
            <span class="card__title">
                • {{ c.difficulty ?? '—' }}
                • {{ c.createdAt | date:'yyyy-MM-dd' }}
              </span>
          </header>       
        </li>
      </ul>
    </ng-container>
  
    <ng-template #loading>
      <p>Chargement…</p>
    </ng-template>
  </section>