/* Palette */
$color-primary:       #1C2D49; // Space Cadet
$color-background:    #ECECEC; // Anti-Flash White
$color-accent:        #FFC300; // Mikado Yellow
$color-alert:         #E05E42; // Cinnabar
$color-light-grey:    #DCDCDC;
$color-white:         #FFFFFF;

$shadow:  0 1px 1.5px rgba(0, 0, 0, 0.08),
0 6px 16px -6px rgba(0, 0, 0, 0.12);
$radius: 4px;